// _header.pug
head
  meta( charset="UTF-8" )/
  meta( name="viewport", content="width=device-width, initial-scale=1.0" )/
  link( rel="icon", sizes="16x16 32x32 48x48 64x64", href="img/favicon.ico" )/
  title #{__( site + '-title' )} — #{__( 'title' )}
  meta( name="description", content=`${__( site + '-description' )}` )/
  meta( name="robots", content="all, max-image-preview:standard" )/
  meta( name="format-detection", content="telephone=no" )/
  meta( property="og:type", content="website" )/
  meta( property="og:site_name", content=`${__( 'title' )}` )/
  meta( property="og:title", content=`${__( site + '-title' )}` )/
  meta( property="og:description", content=`${__( site + '-description' )}` )/
  link( rel="stylesheet", href="css/style.css" )/
body
  header#header