//- abundance.pug
extends layout.pug

block title
  - var title = __( 'abundance-of', __( abundance.type + '-abundance' ) )
  - var description = __( abundance.type + '-abundance-description' )
  title= title + ' — ' + __( 'title' )
  meta( name="description", content= description )/

block social
  meta( property="og:title", content= title )/
  meta( property="og:description", content= description )/

block scripts
  script( src="/js/tablesort.min.js" )

block styles
  link( rel="stylesheet", href="/css/abundance.css" )/

block content
  div.pt-page.pt-box.pt-abundance
    include templates/breadcrumbs.pug
    h1!= title
    p.pt-page-intro!= description
    //- abundance chart
    div.pt-abundance-chart
      - let i = 0
      each value, el in abundance.results
        if ++i > 32
          - break
        a.pt-abundance-chart-item(
          href= '/e/' + elements[ el ].symbol,
          title= elements[ el ].names[ locale ]
        )
          div.pt-abundance-chart-column
            div.pt-abundance-chart-column-inner(
              style='--pct:' + Math.max( 4, ( Math.log10( value ) / 9 * 100 ) ) + '%'
            )
          div.pt-abundance-chart-label= elements[ el ].symbol
    //- abundance table
    table.pt-prop-table.zebra.sortable.pt-abundance-table
      thead
        tr.pt-prop-table-row
          th.pt-prop-table-label(
            colspan="2",
            sort-key="number"
          )!= __( 'element' )
          th.pt-prop-table-label.sort(
            colspan="2",
            sort-key="x"
            sort-dir="asc"
          )!= __( 'abundance-title' )
          th.pt-prop-table-label.right(
            sort-key="mass"
          )!= __( 'abundance-mass', core.fWeight( abundance.mass, locale )[0] )
      tbody
        each value, el in abundance.results
          tr.pt-prop-table-row(
            sort-value--number= elements[ el ].number,
            sort-value--x= value,
            sort-value--mass= (
              mass = value / 1e9 * abundance.mass
            )
          )
            td.pt-prop-table-value.mini!= '<sub>' + elements[ el ].number + '</sub>' + elements[ el ].symbol
            td.pt-prop-table-value
              a( href='/e/' + elements[ el ].symbol )!= elements[ el ].names[ locale ]
            td.pt-prop-table-value.right
              span!= core.fNumber( elements[ el ].abundance[ abundance.type ], locale )
            td.pt-prop-table-value.right
              span!= core.fNumber( { value: value / 1e7, unit: '%' }, locale )
            td.pt-prop-table-value.right
              span!= core.fWeight( mass, locale )[0]