//- abundance.pug
extends layout.pug

block scripts
  script( src="/js/tablesort.min.js" )

block content
  - var abundances = [ 'universe', 'sun', 'meteorite', 'crust', 'water', 'stream' ]
  div.pt-page.pt-box
    h1!= __( 'abundance-title' )
    p.pt-page-intro!= __( 'abundance-description' )
    table.pt-prop-table.zebra.sortable.pt-abundance-table
      thead
        tr.pt-prop-table-row
          th.pt-prop-table-label.sort(
            colspan="2",
            sort-key="number"
          )!= __( 'element' )
          each abundance in abundances
            th.pt-prop-table-label(
                sort-key= abundance
            )!= __( abundance + '-abundance' )
      tbody
        each el, k in elements
          if el.abundance
            tr.pt-prop-table-row.pt-el(
                sort-value--number= el.number
            )
              td.pt-prop-table-value.mini
                sub!= el.number
                span!= el.symbol
              td.pt-prop-table-value
                a( href='/e/' + el.symbol )!= el.names[ locale ]
              each abundance in abundances
                td.pt-prop-table-value
                  if abundance in el.abundance
                    span!= core.fNumber( el.abundance[ abundance ], locale )
                  else
                    span!= __( 'undefined' )