//- abundance.pug
extends layout.pug

block title
  - var title = __( 'abundance-of', __( abundance.type + '-abundance' ) )
  - var description = __( abundance.type + '-abundance-description' )
  title= title + ' — ' + __( 'title' )
  meta( name="description", content= description )/

block social
  meta( property="og:title", content= title )/
  meta( property="og:description", content= description )/

block styles
  link( rel="stylesheet", href="/css/abundance.css" )/

block content
  div.pt-page.pt-box.pt-abundance
    include templates/breadcrumbs.pug
    h1!= title
    p.pt-page-intro!= description
    div.pt-abundance-chart
      - let i = 0
      each value, el in abundance.results
        if ++i > 32
          - break
        a.pt-abundance-chart-item(
          href= '/e/' + elements[ el ].symbol,
          title= elements[ el ].names[ locale ]
        )
          div.pt-abundance-chart-column
            div.pt-abundance-chart-column-inner(
              style='--pct:' + Math.max( 4, ( Math.log10( value ) / 9 * 100 ) ) + '%'
            )
          div.pt-abundance-chart-label= elements[ el ].symbol