//- element.pug
extends layout.pug

block title
  title #{ __( 'element-title', element.names[ locale ] ) } — #{ __( 'title' ) }

block styles
  link( rel="stylesheet", href="/css/element.css" )/
  link( rel="stylesheet", href=" /css/microtable.css" )/

block content
  div.pt-element
    div.pt-element-container
      section.pt-box.pt-element-intro
        h1.element--title
          span.element--symbol
            span.symbol--number= element.number
            span.symbol--label= element.symbol
          span.element--name= element.names[ locale ]
      section.pt-box.pt-element-properties
    aside.pt-element-aside
      div.pt-box.pt-element-image
      div.pt-box.pt-element-hazard
    div.pt-element-footer
      include templates/microtable.pug