//- element.pug
extends layout.pug

block title
  title #{ __( 'element-title', element.names[ locale ] ) } — #{ __( 'title' ) }

block styles
  link( rel="stylesheet", href="/css/element.css" )/
  link( rel="stylesheet", href=" /css/microtable.css" )/

block content
  div.pt-element
    div.pt-element-container
      section.pt-box.pt-element-intro
        h1.element--title
          span.element--symbol
            span.symbol--number= element.number
            span.symbol--label= element.symbol
          span.element--name= element.names[ locale ]
      section.pt-box.pt-element-properties
    aside.pt-element-aside
      div.pt-box.pt-element-image
      if element.hazardous
        div.pt-box.pt-element-hazard
          h2= __( 'ghs-title' )
          if element.hazardous.ghs && element.hazardous.ghs.length
            div.pt-box-flex.pt-box-columns.pt-element-hazard-box
              each ghs in element.hazardous.ghs
                div.pt-element-hazard-item
                  img( src='/img/GHS' + ghs + '.png', class="pictogram" )
                  span!= __( 'ghs-' + ghs )
          else
            i= __( 'ghs-undefined' )
          div.pt-element-hazard-statements
            h3= __( 'hazard-precautionary' )
            div.hazard--statements
              div.hazard--line
                b H
                if element.hazardous.h && element.hazardous.h.length
                  span!= element.hazardous.h.join( '-' )
                else
                  i= __( 'hazard-precautionary-undefined' )
              div.hazard--line
                b P
                if element.hazardous.p && element.hazardous.p.length
                  span!= element.hazardous.p.join( '-' )
                else
                  i= __( 'hazard-precautionary-undefined' )
    div.pt-element-footer
      include templates/microtable.pug