//- element.pug
extends layout.pug

block title
  title #{ __( 'element-title', element.names[ locale ] ) } — #{ __( 'title' ) }

block styles
  link( rel="stylesheet", href="/css/element.css" )/
  link( rel="stylesheet", href=" /css/microtable.css" )/

block content
  div.pt-element
    div.pt-element-container
      div.pt-box.pt-element-intro
        h1.element--title
          span.element--symbol
            span.symbol--number= element.number
            span.symbol--label= element.symbol
          span.element--name= element.names[ locale ]
          div.pt-actions.element--actions
            if nav.prev
              a( href="/e/" + nav.prev, title= __( 'navigation-prev' ) )
                i.icon arrow_back
            a( href="/", title= __( 'title' ) )
              i.icon apps
            if nav.next
              a( href="/e/" + nav.next, title= __( 'navigation-next' ) )
                i.icon arrow_forward
            a(
              href="data:text/json;charset=utf-8," + encodeURIComponent( JSON.stringify( element ) ),
              download="data.json", title= __( 'download' )
            )
              i.icon download
            a( href="javascript:window.print();", title= __( 'print' ) )
              i.icon print
        if element.classification
          h3= __( 'classification' )
          div.pt-box-flex.pt-element-classification
            if element.classification.cas
              div.pt-element-classification-item
                b= __( 'classification-cas' )
                each cas in element.classification.cas
                  span
                    a.external(
                      href="https://commonchemistry.cas.org/detail?ref=" + cas.value,
                      target="_blank"
                    )= cas.value
                    if cas.label && cas.label.length
                      span!= "&nbsp;(" + core.parseText( cas.label ) + ")"
            if element.classification.eg
              div.pt-element-classification-item
                b= __( 'classification-eg' )
                span= element.classification.eg
            if element.classification.echa
              div.pt-element-classification-item
                b= __( 'classification-echa' )
                span
                  a.external(
                    href="https://echa.europa.eu/de/substance-information/-/substanceinfo/" + element.classification.echa,
                    target="_blank"
                  )= element.classification.echa
            if element.classification.atc
              div.pt-element-classification-item
                b= __( 'classification-atc' )
                span
                  a.external(
                    href="https://www.whocc.no/atc_ddd_index/?code=" + element.classification.atc,
                    target="_blank"
                  )= element.classification.atc
      div.pt-box.pt-element-properties
        h2= __( 'prop-atomic' )
      div.pt-box.pt-element-properties
        h2= __( 'prop-physical' )
      div.pt-box.pt-element-properties
        h2= __( 'prop-chemical' )
      div.pt-box.pt-element-properties
        h2= __( 'prop-other' )
      div.pt-box.pt-element-properties
        h2= __( 'prop-isotopes' )
    aside.pt-element-aside
      if element.image
        div.pt-box.pt-element-image
          a( href=element.image.url, target="_blank" )
            img( src=element.image.url, loading="lazy" )/
          figcaption!= element.image.caption
      if element.radioactive
        div.pt-box.pt-box-flex.pt-element-radioactive
            img.pictogram-small( src="/img/radioactive.png", loading="lazy" )/
            b= __( 'element-radioactive' )
      if element.hazardous
        div.pt-box.pt-element-hazard
          h2= __( 'ghs-title' )
          if element.hazardous.ghs
            div.pt-box-flex.pt-box-columns.pt-element-hazard-box
              each ghs in element.hazardous.ghs
                div.pt-element-hazard-item
                  img.pictogram( src="/img/GHS" + ghs + ".png", loading="lazy" )/
                  span!= __( 'ghs-' + ghs )
          else
            i= __( 'ghs-undefined' )
          div.pt-element-hazard-statements
            h3= __( 'hazard-precautionary' )
            div.hazard--statements
              div.hazard--line
                b H
                if element.hazardous.h
                  span!= element.hazardous.h.join( '-' )
                else
                  i= __( 'hazard-precautionary-undefined' )
              div.hazard--line
                b P
                if element.hazardous.p
                  span!= element.hazardous.p.join( '-' )
                else
                  i= __( 'hazard-precautionary-undefined' )
          if element.hazardous.nfpa
            h3= __( 'nfpa-title' )
            div.pt-box-flex.pt-nfpa
              div.pt-nfpa-diamond
                each key in [ 'h', 'f', 'i', 's' ]
                  div( class=key, style="--code:" + key )
                    each code in ( element.hazardous.nfpa[ key ] || '' ).split( '|' )
                      b( code=code )= code
              div.pt-nfpa-info
                each key in [ 'h', 'f', 'i', 's' ]
                  div!= __( 'nfpa-' + key + '-' + ( element.hazardous.nfpa[ key ] || 'undefined' ).split( '|' )[0] )
          if element.hazardous.hazard
            h3= __( 'pictogram-title' )
            div.pt-element-hazard-pictograms
              each hazard in element.hazardous.hazard
                img.pictogram-small( src="/img/hazard-" + hazard + ".png", loading="lazy" )/
          if element.hazardous.adr
            h3= __( 'adr-title' )
            div.pt-element-hazard-pictograms
              each adr in element.hazardous.adr
                img.pictogram( src="/img/ADR-" + adr + ".png", loading="lazy" )/
    div.pt-element-footer
      include templates/microtable.pug