//- element page
extends page.pug

block title
  - var title = __( 'element-title', page.element.name )
  title= title + ' — ' + __( 'periodic-table' )
  if page.element.text
    meta( name= 'description', content= page.element.text.description )/

block social
  meta( property= 'og:title', content= title )/
  if page.element.text
    meta( property= 'og:description', content= page.element.text.description )/

block styles
  link( rel= 'stylesheet', href= '/css/element.css' )/

block content
  div.pt-page.pt-element

    //- main
    div.pt-element-main

      //- general informations
      div.pt-box.pt-element-box.pt-element-general
        h1.pt-element-title
          span.element--symbol
            span.symbol--number= page.element.data.number
            span.symbol--label= page.element.data.symbol
          span.element--name= page.element.name
          div.pt-actions.element--actions
            if page.nav && page.nav.prev
              a.pt-icon-button(
                href= core.url( '/element/' + page.nav.prev.symbol ),
                title!= __( 'navigation-prev' )
              )
                i.icon arrow_back
            a.pt-icon-button(
              href= core.url( '/' ),
              title!= __( 'periodic-table' )
            )
              i.icon grid_view
            if page.nav && page.nav.next
              a.pt-icon-button(
                href= core.url( '/element/' + page.nav.next.symbol ),
                title!= __( 'navigation-next' )
              )
                i.icon arrow_forward
            a.pt-icon-button(
              href= 'data:text/json;charset=utf-8,' + encodeURIComponent(
                JSON.stringify( page.element.data )
              ),
              download= 'data.json',
              title!= __( 'action-download' )
            )
              i.icon download
            a.pt-icon-button(
              href= 'javascript:window.print();',
              title!= __( 'action-print' )
            )
              i.icon print
        if page.element.text
          div.pt-element-text
            div.pt-element-text-content!= page.element.text.text
            div.pt-element-text-credits!= __( 'wiki-credits', 'https://wikipedia.org/wiki/' + locale + ':' + page.element.data.wiki[ locale ] )

      //- atomic properties
      div.pt-box.pt-element-box.pt-element-atomic
        h2!= __( 'atomic-props' )
        table.pt-prop-table.pt-element-table
          tbody
            if page.element.data.standard_atomic_weight
              tr.pt-prop-table-row
                th.pt-prop-table-label
                  a( href= core.url( '/scale/standard_atomic_weight' ) )!= __( 'standard-atomic-weight' )
                td.pt-prop-table-value!= f.number( page.element.data.standard_atomic_weight )
            if page.element.data.atomic_mass
              tr.pt-prop-table-row
                th.pt-prop-table-label
                  a( href= core.url( '/scale/atomic_mass' ) )!= __( 'atomic-mass' )
                td.pt-prop-table-value!= f.number( page.element.data.atomic_mass )

      //- physic properties
      div.pt-box.pt-element-box.pt-element-physic
        h2!= __( 'physic-props' )

      //- chemic properties
      div.pt-box.pt-element-box.pt-element-chemic
        h2!= __( 'chemic-props' )

    //- aside
    aside.pt-element-aside

      //- element image
      if page.image
        div.pt-box.pt-element-box.pt-element-image
          a( href= page.image.fullres, target= '_blank' )
            img( src= page.image.thumb, alt= page.element.name )/
          figcaption!= page.element.data.image.caption

  div.pt-page.pt-element-footer
    include templates/microtable.pug