//- element.pug
extends layout.pug

block title
  title #{ __( 'element-title', element.names[ locale ] ) } — #{ __( 'title' ) }

block styles
  link( rel="stylesheet", href="/css/element.css" )/
  link( rel="stylesheet", href=" /css/microtable.css" )/

block content
  div.pt-element
    div.pt-element-container
      div.pt-box.pt-element-intro
        h1.element--title
          span.element--symbol
            span.symbol--number= element.number
            span.symbol--label= element.symbol
          span.element--name= element.names[ locale ]
          div.pt-actions.element--actions
            if nav.prev
              a( href="/e/" + nav.prev, title= __( 'navigation-prev' ) )
                i( class="icon" ) arrow_back
            a( href="/", title= __( 'title' ) )
              i( class="icon" ) apps
            if nav.next
              a( href="/e/" + nav.next, title= __( 'navigation-next' ) )
                i( class="icon" ) arrow_forward
            a(
              href="data:text/json;charset=utf-8," + encodeURIComponent( JSON.stringify( element ) ),
              download="data.json", title= __( 'download' )
            )
              i( class="icon" ) download
            a( href="#print", title= __( 'print' ) )
              i( class="icon" ) print
        if element.classification
          h3= __( 'classification' )
          div.pt-box-flex.pt-element-classification
            if element.classification.cas
              div.pt-element-classification-item
                b= __( 'classification-cas' )
                each cas in element.classification.cas
                  span
                    a(
                      href="https://commonchemistry.cas.org/detail?ref=" + cas.value,
                      class="external", target="_blank"
                    )= cas.value
                    if cas.label && cas.label.length
                      span!= '&nbsp;(' + core.parseText( cas.label ) + ')'
            if element.classification.eg
              div.pt-element-classification-item
                b= __( 'classification-eg' )
                span= element.classification.eg
            if element.classification.echa
              div.pt-element-classification-item
                b= __( 'classification-echa' )
                span
                  a(
                    href="https://echa.europa.eu/de/substance-information/-/substanceinfo/" + element.classification.echa,
                    class="external", target="_blank"
                  )= element.classification.echa
            if element.classification.atc
              div.pt-element-classification-item
                b= __( 'classification-atc' )
                span
                  a(
                    href="https://www.whocc.no/atc_ddd_index/?code=" + element.classification.atc,
                    class="external", target="_blank"
                  )= element.classification.atc
      div.pt-box.pt-element-properties
    aside.pt-element-aside
      if element.image
        div.pt-box.pt-element-image
          a( href=element.image.url, target="_blank" )
            img( src=element.image.url, loading="lazy" )/
          figcaption!= element.image.caption
      if element.radioactive
        div.pt-box.pt-box-flex.pt-element-radioactive
            img( src="/img/radioactive.png", class="pictogram-small", loading="lazy" )/
            b= __( 'element-radioactive' )
      if element.hazardous
        div.pt-box.pt-element-hazard
          h2= __( 'ghs-title' )
          if element.hazardous.ghs
            div.pt-box-flex.pt-box-columns.pt-element-hazard-box
              each ghs in element.hazardous.ghs
                div.pt-element-hazard-item
                  img( src='/img/GHS' + ghs + '.png', class="pictogram", loading="lazy" )/
                  span!= __( 'ghs-' + ghs )
          else
            i= __( 'ghs-undefined' )
          div.pt-element-hazard-statements
            h3= __( 'hazard-precautionary' )
            div.hazard--statements
              div.hazard--line
                b H
                if element.hazardous.h
                  span!= element.hazardous.h.join( '-' )
                else
                  i= __( 'hazard-precautionary-undefined' )
              div.hazard--line
                b P
                if element.hazardous.p
                  span!= element.hazardous.p.join( '-' )
                else
                  i= __( 'hazard-precautionary-undefined' )
          if element.hazardous.hazard
            h3= __( 'pictogram-title' )
            div.pt-element-hazard-pictograms
              each hazard in element.hazardous.hazard
                img( src='/img/hazard-' + hazard + '.png', class="pictogram-small", loading="lazy" )/
    div.pt-element-footer
      include templates/microtable.pug