//- glossary.pug
extends layout.pug

block styles
  link( rel="stylesheet", href="/css/glossary.css" )/

block content
  div.pt-page.pt-box.pt-glossary
    h1= __( 'glossary-title' )
    p.pt-page-intro!= __( 'glossary-description' )
    h2= __( 'ghs-title' )
    div.pt-box-flex.pt-box-columns
      - for( let i = 1; i <= 9; i++ ) {
        - var ghs = i.toString().padStart( 2, '0' );
        div.pt-glossary-flex-item
          img( src='/res/GHS' + ghs + '.png', class="pictogram", loading="lazy" )/
          span!= __( 'ghs-' + ghs )
      - }
    h2= __( 'pictogram-title' )
    div.pt-box-flex.pt-box-columns
      each hazard in [ 'E', 'F', 'O', 'C', 'T', 'X', 'N' ]
        div.pt-glossary-flex-item
          img( src='/res/hazard-' + hazard + '.png', class="pictogram", loading="lazy" )/
          span!= __( 'hazard-' + hazard )