//- ionization.pug
extends layout.pug

block content
  div.pt-page.pt-box.pt-ionization
    h1!= __( 'ionization-title' )
    p.pt-page-intro!= __( 'ionization-description' )
    table.pt-prop-table.zebra.pt-ionization-table
      thead
        tr.pt-prop-table-row
          th.pt-prop-table-label( colspan="2" )!= __( 'element' )
          th.pt-prop-table-label( colspan="7" )!= __( 'ionization-energy' ) + ' [' + core.fUnit( 'eV' ) + ']'
      tbody
        each el, k in elements
          tr.pt-prop-table-row
            td.pt-prop-table-value.mini!= '<sub>' + el.number + '</sub>' + el.symbol
            td.pt-prop-table-value
              a( href='/e/' + el.symbol )!= el.names[ locale ]
            if el.ionization
              - for( let i = 0; i < 7; i++ ) {
                if el.ionization.values[ i ]
                  td.pt-prop-table-value.right!= core.fNumber( el.ionization.values[ i ], 5 )
                else
                  td.pt-prop-table-value
              - }
            else
              td.pt-prop-table-value( colspan="7" )!= __( 'undefined' )