//- nuclide page
extends page.pug

block title
  - var title = __( 'isotopes-of', page.element.name )
  - var desc = __( 'isotopes-of-description', page.element.name )
  title= title + ' — ' + __( 'periodic-table' )
  meta( name= 'description', content= desc )/

block social
  meta( property= 'og:title', content= title )/
  meta( property= 'og:description', content= desc )/

block styles
  link( rel= 'stylesheet', href= '/css/isotopes.css' )/

block content
  div.pt-page.pt-box.pt-isotopes
    include templates/breadcrumbs.pug
    h1= title
    p.pt-page-intro= desc
    div.pt-prop-table-container
      include templates/isotopes-list.pug

  each n in isotopes.nuclides
    div.pt-page.pt-box.pt-isotopes
      h2.pt-isotopes-title( id= ( isotopes.symbol + '_' + n.m ) )
        span.isotope--symbol
          span.isotope--mass= n.m
          span.isotope--label= isotopes.symbol
        span.isotope--name= page.element.name + '-' + n.m
        div.pt-actions.isotope--actions
          a.pt-icon-button(
            href= core.url( '/nuclides?z=' + n.z + '&n=' + n.n ),
            title= __( 'point-at-nuclide' )
          ): i.icon ads_click
          a.pt-icon-button(
            href= 'data:text/json;charset=utf-8,' + encodeURIComponent(
              JSON.stringify( n )
            ),
            download= 'data.json',
            title= __( 'action-download' )
          ): i.icon download
      div.pt-isotopes-split-table
        table.pt-prop-table.pt-isotopes-table.breakable
          tbody
            if n.half_life
              tr.pt-prop-table-row
                th.pt-prop-table-label= __( 'isotope-half_life' )
                td.pt-prop-table-value!= f.number( n.half_life )
            if n.abundance
              tr.pt-prop-table-row
                th.pt-prop-table-label= __( 'isotope-abundance' )
                td.pt-prop-table-value!= f.number( n.abundance )
            if n.radius
              tr.pt-prop-table-row
                th.pt-prop-table-label= __( 'isotope-radius' )
                td.pt-prop-table-value!= f.number( n.radius )
            if n.jp
              tr.pt-prop-table-row
                th.pt-prop-table-label= __( 'isotope-jp' )
                td.pt-prop-table-value!= f.text( n.jp )
            if n.atomic_mass
              tr.pt-prop-table-row
                th.pt-prop-table-label= __( 'isotope-atomic_mass' )
                td.pt-prop-table-value!= f.number( n.atomic_mass )