//- layout.pug
doctype html
html( lang=locale )
  //- html header
  head
    meta( charset="UTF-8" )/
    meta( name="viewport", content="width=device-width, initial-scale=1.0" )/
    meta( name="msapplication-TileColor", content="#ffffff" )/
    meta( name="theme-color", content="#2a80ad" )/
    link( rel="icon", sizes="16x16 32x32 48x48 64x64", href="/img/favicon.ico" )/
    block title
      title= __( site + '-title' ) + " — " + __( 'title' )
      meta( name="description", content=__( site + '-description' ) )/
    meta( name="robots", content="all, max-image-preview:standard" )/
    meta( name="format-detection", content="telephone=no" )/
    link( rel="canonical", href=canonical )/
    //- social meta
    meta( property="og:type", content="website" )/
    meta( property="og:site_name", content=__( 'title' ) )/
    meta( property="og:url", content=canonical )/
    block social
      meta( property="og:title", content=__( site + '-title' ) )/
      meta( property="og:description", content=__( site + '-description' ) )/
    script( src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" )
    script( src="/js/global.min.js" )
    block scripts
    link( rel="stylesheet", href="/css/style.css" )/
    link( rel="stylesheet", href="/css/header.css" )/
    link( rel="stylesheet", href="/css/footer.css" )/
    block styles
  //- html content
  body( theme=theme )
    //- header
    header#header.pt-header( role="banner" )
      a.pt-header-logo( href="/", title=__( 'title' ) )
        svg.pt-atom( width="32", height="32" )
          use( xlink:href="/img/atom.svg#atom" )
      a.pt-header-menu( href="#", title=__( 'nav' ) )
        i( class="icon open" ) menu
        i( class="icon close" ) close
      div.pt-header-search
        include templates/searchform.pug
      div.pt-header-settings
        include templates/language-selector.pug
        include templates/theme-selector.pug
      nav.pt-header-nav
        include templates/nav.pug
    //- main
    main#main.pt-wrapper( role="main" )
      block content
    //- footer
    footer#footer.pt-footer
      a.pt-footer-logo( href="/", title=__( 'title' ) )
        svg.pt-atom( width="32", height="32" )
          use( xlink:href="/img/atom.svg#atom" )
      div.pt-footer-inner
        nav.pt-footer-nav
          a( href="/" )= __( 'start-title' )
          a( href="/glossary" )= __( 'glossary-title' )
          a( href="/data" )= __( 'data-title' )
          a( href="/privacy" )= __( 'privacy-title' )
          a( href="https://github.com/komed3/periodic-table", target="_blank" )= __( 'github' )
        p.pt-footer-credits!= __( 'credits', ( new Date() ).getFullYear() )