//- nuclide page
extends page.pug

block title
  - var title = __( 'nuclides-of', page.element.name )
  - var desc = __( 'nuclides-of-description', page.element.name )
  title= title + ' — ' + __( 'periodic-table' )
  meta( name= 'description', content= desc )/

block social
  meta( property= 'og:title', content= title )/
  meta( property= 'og:description', content= desc )/

block styles
  link( rel= 'stylesheet', href= '/css/nuclide.css' )/

block content
  div.pt-page.pt-box.pt-nuclides
    include templates/breadcrumbs.pug
    h1= title
    p.pt-page-intro= desc
    div.pt-prop-table-container
      include templates/nuclides-table.pug

  each n in nuclides.nuclides
    div.pt-page.pt-box.pt-nuclides
      h2.pt-nuclide-title( id= ( nuclides.symbol + '_' + n.m ) )
        span.nuclide--symbol
          span.nuclide--mass= n.m
          span.nuclide--label= nuclides.symbol
        span.nuclide--name= page.element.name + '-' + n.m
        div.pt-actions.nuclide--actions
          a.pt-icon-button(
            href= core.url( '/nuclides?z=' + n.z + '&n=' + n.n ),
            title= __( 'nuclides-title' )
          ): i.icon grid_view
          a.pt-icon-button(
            href= 'data:text/json;charset=utf-8,' + encodeURIComponent(
              JSON.stringify( n )
            ),
            download= 'data.json',
            title= __( 'action-download' )
          ): i.icon download