//- sitemap.pug
extends layout.pug

block styles
  link( rel="stylesheet", href="/css/lists.css" )/

block content
  div.pt-page.pt-box
    h1!= __( 'sitemap-title' )
    p.pt-page-intro!= __( 'sitemap-description' )
    h2!= __( 'tools-title' )
    div.pt-lists
      each tool in config.tools
        div.pt-lists-item
          h3.pt-lists-item-title
            a( href='/tool/' + tool )!= __( tool + '-title' )
          p.pt-lists-item-desc!= __( tool + '-description' )
    h2!= __( 'lists-title' )
    div.pt-lists
      each list in config.lists
        div.pt-lists-item
          h3.pt-lists-item-title
            a( href='/lists/' + list )!= __( list + '-label' )
          p.pt-lists-item-desc!= __( list + '-description' )
    h2!= __( 'scales-title' )
    div.pt-lists
      each scale, link in config.scales
        div.pt-lists-item
          h3.pt-lists-item-title
            a( href='/scale/' + link )!= __( scale.label )
          p.pt-lists-item-desc!= __( scale.label + '-description' )
    h2!= __( 'props-title' )
    div.pt-lists
      each prop in config.props
        div.pt-lists-item
          h3.pt-lists-item-title
            a( href='/prop/' + prop )!= __( 'prop-' + prop )
          p.pt-lists-item-desc!= __( 'prop-' + prop + '-description' )
    h2!= __( 'abundances-title' )
    div.pt-lists
      each abundance in config.abundances
        div.pt-lists-item
          h3.pt-lists-item-title
            a( href='/abundance/' + abundance )!= __( abundance + '-abundance' )
          p.pt-lists-item-desc!= __( abundance + '-abundance-description' )