//- element spectrums
extends page.pug

block styles
  link( rel= 'stylesheet', href= '/css/spectrum.css' )/

block content
  div.pt-page.pt-box.pt-spectrum
    include templates/breadcrumbs.pug
    h1!= __( 'spectrum-title' )
    p.pt-page-intro!= __( 'spectrum-description' )
    div.pt-prop-table-container
      table.pt-prop-table.zebra.pt-element-table
        tbody
          each src, key in page.spectrum
            - var el = elements.get( key )
            tr.pt-prop-table-row
              td.pt-prop-table-value.mini
                sub!= el.number
                span!= el.symbol
              td.pt-prop-table-value.mini
                a( href= core.url( '/element/' + el.symbol ) )!= el.names[ locale ]
              td.pt-prop-table-value.pt-spectrum-img
                if src && src.length
                  img( src= src )/
                else
                  span!= __( 'undefined' )