//- molar mass calculator
extends page.pug

block scripts
  script.
    const locale = "#{locale}";
    const data = !{page.data};
  script( type= 'module', src= '/js/tools/molar_mass.min.js' ) 

block styles
  link( rel= 'stylesheet', href= '/css/tools.css' )/

block content
  div.pt-page.pt-box.pt-tool.pt-tool--molar-mass
    include templates/breadcrumbs.pug
    h1= __( 'tool-molar_mass-title' )
    p.pt-page-intro!= __( 'tool-molar_mass-description' )

    div.pt-tool-container
      div.pt-tool-form
        div.pt-tool-form-group
          label( for= 'formula' )= __( 'tool-molar_mass-formula-label' )
          input#formula.main( type= 'text', placeholder= __( 'tool-molar_mass-formula-placeholder' ), maxlength= '100' )/
        p.pt-tool-form-help= __( 'tool-molar_mass-help' )
        div.pt-tool-form-group
          label( for= 'volume' )= __( 'tool-molar_mass-volume-label' )
          div.pt-tool-form-sep
          input#volume.right( type= 'number', value= 1, min= 0, step= 0.01 )/
          div.pt-input-container
            i.icon straighten
            select#volume-unit
              option( value= 'mol' ) mol
              option( value= 'mg' ) mg
              option( value= 'g' ) g
              option( value= 'kg' ) kg
        div.pt-tool-form-group.right
          button.pt-tool-button.primary( type= 'button', data-action= 'calculate' )
            i.icon functions
            span= __( 'tool-calculate' )
          button.pt-tool-button.secondary( type= 'button', data-action= 'clear' )
            i.icon not_interested
            span= __( 'tool-clear' )

      p#error.pt-tool-error.hidden

      div#results.pt-tool-results.hidden
        h3= __( 'tool-results' )
        div#results-total.pt-tool-results-total
        div.pt-prop-table-container
          table#results-table.pt-prop-table.pt-tool-results-table
            thead
              tr
                th.pt-prop-table-label= __( 'element' )
                th.pt-prop-table-label= __( 'amount' )
                th.pt-prop-table-label= __( 'atomic-mass' )
                th.pt-prop-table-label= __( 'mass' )
            tbody

      div.pt-tool-examples
        h3= __( 'tool-examples' )
        button.pt-tool-button.example( data-action= 'example', data-formula= 'H2O' ) H₂O
        button.pt-tool-button.example( data-action= 'example', data-formula= 'NaCl' ) NaCl
        button.pt-tool-button.example( data-action= 'example', data-formula= 'Ca(OH)2' ) Ca(OH)₂
        button.pt-tool-button.example( data-action= 'example', data-formula= 'Al2(SO4)3' ) Al₂(SO₄)₃
        button.pt-tool-button.example( data-action= 'example', data-formula= 'K4[Fe(CN)6]' ) K₄[Fe(CN)₆]
        button.pt-tool-button.example( data-action= 'example', data-formula= '3(C2H4O2)' ) 3(C₂H₄O₂)