//- templates/element-list.pug
- var layer = layer || 'set'
div.pt-element-list( layer=layer )
  each el in list
    div(
      prop= ( el[ layer ] || 'undefined' ),
      class= 'pt-el pt-element-list-item' + (
        el.radioactive
          ? ' radioactive'
          : ''
      )
    )
      div.element--symbol
        span.symbol--number= el.number
        span.symbol--label= el.symbol
      div.element--info
        a( href= '/e/' + el.symbol ).element--name= el.names[ locale ]
        if el.appearance && locale in el.appearance
          span.element--desc!= core.parseText( el.appearance[ locale ] )