//- templates/isotable.pug
table.pt-prop-table.pt-isotable
  thead
    tr.pt-prop-table-row.pt-isotable-header
      each label in [ 'nuclide', 'mass', 'half-life', 'mode', 'product', 'natural-abundance' ]
        th.pt-prop-table-label.pt-isotable-label!= __( 'isotope-' + label )
  tbody
    each isotope in isotopes
      tr.pt-prop-table-row.pt-isotable-item
        td.pt-prop-table-value.pt-isotable-value
          a( href= core.isoLink( isotope.nuclide ) )
            b!= core.fText( isotope.nuclide ) + ( isotope.alias ? '&nbsp;(' + core.fText( isotope.alias ) + ')' : '' )
        td.pt-prop-table-value.pt-isotable-value
          if isotope.mass
            span!= core.fNumber( isotope.mass, 5 )
          else
            span —
        if isotope.decay == 'stable'
          td( colspan="3" ).pt-prop-table-value.pt-isotable-value
            b!= __( 'stable' )
        else
          td.pt-prop-table-value.pt-isotable-value
            span!= core.fTime( isotope.decay.half_life )[0]
          td.pt-prop-table-value.pt-isotable-value
            each p in isotope.decay.products
              span!= core.fText( p.mode )
          td.pt-prop-table-value.pt-isotable-value
            each p in isotope.decay.products
              span!= core.fText( p.isotope )
        td.pt-prop-table-value.pt-isotable-value
          if isotope.natural_abundance
            span!= core.fNumber( isotope.natural_abundance, 5 )
  tfoot
    tr.pt-prop-table-row.pt-isotable-footer
      th( colspan="6" ).pt-prop-table-label.pt-isotable-label
        a( href="/nuclides" )!= __( 'nuclides-title' )