//- templates/isotable.pug
table.pt-prop-table.pt-isotable
  thead
    tr.pt-prop-table-row
      each label in [ 'nuclide', 'mass', 'half-life', 'decay', 'natural-abundance' ]
        th.pt-prop-table-label!= __( 'isotope-' + label )
  tbody
    each isotope, k in isotopes
      tr.pt-prop-table-row.pt-isotable-item
        td.pt-prop-table-value
          a( href= '/nuclide/' + k )
            sup!= isotope.m
            span!= isotope.symbol
        td.pt-prop-table-value
          if isotope.mass
            span!= core.fNumber( isotope.mass, 5 )
          else
            span —
        if !isotope.decay
          td.pt-prop-table-value( colspan="2" )
            b!= __( 'undefined' )
        else if isotope.decay == 'stable'
          td.pt-prop-table-value( colspan="2" )
            b!= __( 'stable' )
        else
          td.pt-prop-table-value
            if isotope.decay.half_life
              span!= core.fTime( isotope.decay.half_life )[0]
            else
              span!= __( 'undefined' )
          td.pt-prop-table-value
            each p in isotope.decay.products
              div.pt-isotable-decay
                span!= core.fText( p.mode )
                if 'energy' in p
                  span!= '(' + core.fNumber( p.energy, 1 ) + ')'
                span →
                span!= core.fText( p.isotope )
        td.pt-prop-table-value
          if isotope.natural_abundance
            span!= core.fNumber( isotope.natural_abundance, 4 )
  tfoot
    tr.pt-prop-table-row
      td.pt-prop-table-value.right( colspan="6" )
        a( href="/nuclides" )!= __( 'nuclides-title' )