//- templates/legend.pug
if legend && legend.length > 0
  - var layer = layer || 'set'
  div.tp-legend( layer=layer )
    div.pt-legend-label= __( 'legend' )
    div.pt-legend-inner
      each item in legend
        div.pt-el.pt-legend-item( layer=item )
          input( type="checkbox", id="pt-legend-item--" + item, prop=item, checked )/
          label( for="pt-legend-item--" + item )
            span.pt-legend-item-box
            span.pt-legend-item-label= __( layer + '-' + ( item || 'undefined' ) )