//- templates/list.pug
- var _type = list.type || 'value'
div.pt-element-list( layer=list.layer, type=_type )
  each el, k in list.items
    div.pt-element-list-item
      div(
        prop= core.getValue( k, el, list.layer, list.value || 'undefined', _type ),
        class= 'pt-el element--symbol' + (
          el.radioactive
            ? ' radioactive'
            : ''
        )
      )
        span.symbol--number= el.number
        span.symbol--label= el.symbol
      div.element--info
        a( href= '/e/' + el.symbol ).element--name= el.names[ locale ]
        if list.type == 'scale'
          span.element--desc
            if scale
              b!= __( scale.label ) + ': '
            span!= core.fNumber( el.scale.value, locale )
        else if el.appearance && locale in el.appearance
          span.element--desc!= core.fText( el.appearance[ locale ] )