//- templates/list.pug
div.pt-element-list( layer=list.layer )
  each el, k in list.items
    div.pt-element-list-item
      div(
        prop= core.getValue( k, el, list.layer, list.value || 'undefined', list.type || 'value' ),
        class= 'pt-el element--symbol' + (
          el.radioactive
            ? ' radioactive'
            : ''
        )
      )
        span.symbol--number= el.number
        span.symbol--label= el.symbol
      div.element--info
        a( href= '/e/' + el.symbol ).element--name= el.names[ locale ]
        if el.appearance && locale in el.appearance
          span.element--desc!= core.fText( el.appearance[ locale ] )