//- templates/microtable.pug
- var _type = table.type || 'value'
- var legend = []
div.pt-microtable.noselect(
  layer= table.layer,
  type= _type,
  scaling= 0
)
  each el, k in elements
    - _value = core.getValue( k, el, table.layer, table.value || 'undefined', _type )
    - if( !legend.includes( _value ) ) {
    -   legend.push( _value )
    - }
    a(
      href= '/e/' + el.symbol,
      style= '--g:' + el.column + ';--p:' + el.period,
      prop= _value,
      title= el.names[ locale ],
      class= 'pt-el pt-microtable-item' + (
        el.radioactive
          ? ' radioactive'
          : ''
      ) + (
        k == table.current || ''
          ? ' current'
          : ''
      ) + (
        _value == table.hl
          ? ' highlight'
          : ''
      )
    )
      span= el.symbol