//- templates/microtable.pug
div.pt-microtable( layer=( layer || 'set' ) )
  each el, k in elements
    a(
      href='/e/' + el.symbol,
      style='--g:' + el.column + ';--p:' + el.period,
      layer=( el[ layer || 'set' ] )
      class='pt-el' + (
        el.symbol == element.symbol || ''
          ? ' current'
          : ''
      )
    )
      span= el.symbol