//- templates/microtable.pug
- var layer = layer || 'set'
- var legend = []
div.pt-microtable( layer=layer, toggle=1 )
  each el, k in elements
    - if( !legend.includes( el[ layer ] ) ) {
    -   legend.push( el[ layer ] )
    - }
    a(
      href= '/e/' + el.symbol,
      style= '--g:' + el.column + ';--p:' + el.period,
      prop= ( el[ layer ] || 'undefined' ),
      title= el.names[ locale ],
      class= 'pt-el pt-microtable-item' + (
        element && el.symbol == element.symbol || ''
          ? ' current'
          : ''
      ) + (
        el.radioactive
          ? ' radioactive'
          : ''
      )
    )
      span= el.symbol