//- templates/microtable.pug
div.pt-table.pt-microtable.noselect(
  layer= table.layer || 'set'
)
  div.pt-table-gap
  each el, key in elements.database
    a(
      href= core.url( '/element/' + el.symbol ),
      style= core.getPos( el ).position,
      title= el.names[ locale ],
      class= 'pt-el pt-microtable-item' + (
        el.radioactive
          ? ' radioactive'
          : ''
      ) + (
        key == table.current || null
          ? ' current'
          : ''
      )
    )
      span= el.symbol