//- templates/microtable.pug
- var layer = layer || 'set'
- var legend = []
div.pt-microtable.noselect( layer=layer, toggle=1 )
  each el, k in elements
    - _value = core.getValue( el, layer, value || 'undefined', type || 'value' )
    - if( !legend.includes( _value ) ) {
    -   legend.push( _value )
    - }
    a(
      href= '/e/' + el.symbol,
      style= '--g:' + el.column + ';--p:' + el.period,
      prop= _value,
      title= el.names[ locale ],
      class= 'pt-el pt-microtable-item' + (
        element && el.symbol == element.symbol || ''
          ? ' current'
          : ''
      ) + (
        el.radioactive
          ? ' radioactive'
          : ''
      )
    )
      span= el.symbol