//- templates/nav.pug
div.pt-nav
  a( href="/" ).pt-nav-item
    i.icon grid_view
    span!= __( 'title' )
  a( href="/prop/radioactive" ).pt-nav-item
    i.icon flare
    span!= __( 'prop-radioactive' )
  a( href="/prop/natural" ).pt-nav-item
    i.icon spa
    span!= __( 'prop-natural' )
  a( href="/prop/native" ).pt-nav-item
    i.icon grid_goldenratio
    span!= __( 'prop-native' )
  a( href="/prop/vital" ).pt-nav-item
    i.icon conditions
    span!= __( 'prop-vital' )
  a( href="/prop/clean" ).pt-nav-item
    i.icon water_drop
    span!= __( 'prop-clean' )
  a( href="/prop/stable" ).pt-nav-item
    i.icon hexagon
    span!= __( 'prop-stable' )
  a( href="/prop/noble" ).pt-nav-item
    i.icon diamond
    span!= __( 'prop-noble' )
  a( href="/prop/light" ).pt-nav-item
    i.icon airwave
    span!= __( 'prop-light' )
  a( href="/prop/heavy" ).pt-nav-item
    i.icon weight
    span!= __( 'prop-heavy' )
  a( href="/prop/rare" ).pt-nav-item
    i.icon brightness_empty
    span!= __( 'prop-rare' )
  a( href="/prop/platinum" ).pt-nav-item
    i.icon aspect_ratio
    span!= __( 'prop-platinum' )
  a( href="/prop/refractory" ).pt-nav-item
    i.icon hive
    span!= __( 'prop-refractory' )
  a( href="/prop/artificial" ).pt-nav-item
    i.icon lens_blur
    span!= __( 'prop-artificial' )
  a( href="/glossary" ).pt-nav-item
    i.icon dictionary
    span!= __( 'glossary-title' )