//- templates/nuclide-grid.pug
div.pt-nuclide-grid-container.noselect
  div.pt-nuclide-grid( layer= schema = grid.schema || 'decay' )
    div.pt-nuclide-grid-nav.zUp
      a( href= core.url(
        '/nuclides?z=' + grid.maxZ + '&n=' + grid.n + '&schema=' + schema
      ) ): i.icon keyboard_arrow_up
    div.pt-nuclide-grid-nav.zDn
      a( href= core.url(
        '/nuclides?z=' + grid.minZ + '&n=' + grid.n + '&schema=' + schema
      ) ): i.icon keyboard_arrow_down
    div.pt-nuclide-grid-nav.nUp
      a( href= core.url(
        '/nuclides?z=' + grid.z + '&n=' + grid.maxN + '&schema=' + schema
      ) ): i.icon keyboard_arrow_right
    div.pt-nuclide-grid-nav.nDn
      a( href= core.url(
        '/nuclides?z=' + grid.z + '&n=' + grid.minN + '&schema=' + schema
      ) ): i.icon keyboard_arrow_left
    each row in grid.items
      each nuclide in row
        if nuclide
          - var mass = Math.round( nuclide.z + nuclide.n );
          - var x = nuclide.n - grid.minN + 2;
          - var y = 19 - ( nuclide.z - grid.minZ + 1 );
          - var prop = nuclide[ schema ] || '';
          a(
            class= 'pt-nuclide pt-nuclide-grid-item' + (
              ( nuclide.z === grid.z && nuclide.n === grid.n ) ? ' current' : ''
            ),
            href= core.url( '/nuclide/' + nuclide.symbol + '/' + mass ),
            title= nuclide.symbol + '-' + mass,
            z= nuclide.z, n= nuclide.n, prop= prop
            style= '--x:' + x + ';--y:' + y
          )
            span.mass= mass
            span.symbol= nuclide.symbol
            span.z= nuclide.z