//- templates/nuclides-table.pug
table.pt-prop-table.separators
  thead
    tr.pt-prop-table-header
      th.pt-prop-table-label= __( 'nuclide' )
      th.pt-prop-table-label!= __( 'abundance--short' )
      th.pt-prop-table-label!= __( 'half-life--short' )
  tbody
    each n in nuclides.nuclides.slice( 0, nuclides_mini ? 8 : -1 )
      tr.pt-prop-table-row
        td.pt-prop-table-value
          a( href= core.url( '/nuclide/' + nuclides.symbol + '#' + nuclides.symbol + '_' + n.m ) )
            span.pt-nuclide-symbol
              sup.mass= n.m
              span.symbol= nuclides.symbol
        td.pt-prop-table-value!= ( n.abundance ? f.number( n.abundance, 4, nuclides_mini ) : __( 'synthetic--short' ) )
        td.pt-prop-table-value!= ( n.half_life ? f.number( n.half_life, 4, nuclides_mini ) : __( 'stable--short' ) )