//- templates/nuclide-grid.pug
- var legend = [];
- var legend_unlink = true;
div.pt-nuclide-grid-container.noselect
  div.pt-nuclide-grid(
    layer= schema = grid.schema || 'decay',
    x= grid.x, y= grid.y,
    style= '--cols:' + ( grid.x + 2 ) + ';--rows:' + ( grid.y + 2 )
  )
    div.pt-nuclide-grid-nav.zUp
      a( href= core.url(
        '/nuclides?z=' + grid.maxZ + '&n=' + grid.n + '&schema=' + schema
      ) ): i.icon keyboard_arrow_up
    div.pt-nuclide-grid-nav.zDn
      a( href= core.url(
        '/nuclides?z=' + grid.minZ + '&n=' + grid.n + '&schema=' + schema
      ) ): i.icon keyboard_arrow_down
    div.pt-nuclide-grid-nav.nUp
      a( href= core.url(
        '/nuclides?z=' + grid.z + '&n=' + grid.maxN + '&schema=' + schema
      ) ): i.icon keyboard_arrow_right
    div.pt-nuclide-grid-nav.nDn
      a( href= core.url(
        '/nuclides?z=' + grid.z + '&n=' + grid.minN + '&schema=' + schema
      ) ): i.icon keyboard_arrow_left
    each row in grid.items
      each nuclide in row
        if nuclide
          -
            var x = nuclide.n - grid.minN + 2;
            var y = grid.y - ( nuclide.z - grid.minZ - 1 );
            var prop = nuclide[ schema ] || '';
            if( prop && ! legend.includes( prop ) ) legend.push( prop )
          a(
            class= 'pt-nuclide pt-nuclide-grid-item' + (
              ( nuclide.z === grid.z && nuclide.n === grid.n ) ? ' current' : ''
            ),
            href= core.url( '/nuclide/' + nuclide.symbol + '_' + nuclide.m ),
            title= nuclide.symbol + '-' + nuclide.m,
            z= nuclide.z, n= nuclide.n, prop= prop
            style= '--x:' + x + ';--y:' + y
          )
            span.mass= nuclide.m
            span.symbol= nuclide.symbol
            span.z= nuclide.z